@font-face {
	font-family: 'Nitti Grotesk';
	font-weight: 300;
	font-style: normal;
	src: url('/fonts/NittiGrotesk-Light.woff') format('woff2');
}

@font-face {
	font-family: 'Nitti Grotesk';
	font-weight: 300;
	font-style: italic;
	src: url('/fonts/NittiGrotesk-LightItalic.woff') format('woff2');
}

@font-face {
	font-family: 'Nitti Grotesk';
	font-weight: 500;
	font-style: normal;
	src: url('/fonts/NittiGrotesk-Normal.woff') format('woff2');
}

@font-face {
	font-family: 'Nitti Grotesk';
	font-weight: 500;
	font-style: italic;
	src: url('/fonts/NittiGrotesk-Italic.woff') format('woff2');
}
